/* jsarmor stylesheet */
body			{ margin:0px; }
#main			{ position:fixed; width:auto; height:auto; background:transparent; 
			  white-space:nowrap; z-index:99999999; direction:ltr; font-family:Ubuntu;
			  font-size:small;  margin-bottom:0px; }

/* main button */
#main_button		{ direction:rtl; border-width: 2px; margin: 0; float: none; } 

/*************************************************************************************************************/

/* host table */
#jsarmor_ftable			{ width:100%; } 
#jsarmor_ftable > tr > td	{ padding: 0px 0px 1px 0px;} 

/* menu item stuff */
.indent1		{ padding-left:12px }
.indent2		{ padding-left:22px }
.active:hover		{ background-color:#ddd; }

/* hostnames display */
.host_part		{ color:#888; text-align:right; }
.helper			{ color:#000; }
.script_count		{ text-align:right; }
.right_item		{ float:right; }


/*************************************************************************************************************/
/* generic stuff */

table					{ border-spacing:0px; border-collapse: collapse; }

/* radio buttons (scope etc) */
input[type=radio]			{ display:none; } 
input[type=radio] + label:hover		{ background-color: #ddd; } 
input[type=radio] + label		{ box-shadow:inset 0px 1px 0px 0px #ffffff; border-radius:6px; 
					  border:1px solid #dcdcdc; background-color: #c7c7c7;  
					  display:inline-block; padding:1px 5px; text-decoration:none; 
					} 
input[type=radio]:checked + label	{ background-color: #fa4; } 

/* images */

img	{ width:22px; height:22px; vertical-align:middle; background-size:contain; }

.block_all img		{ background:-o-skin('Smiley Pacman'); }
.filtered  img		{ background:-o-skin('Smiley Cool'); }
.relaxed   img		{ background:-o-skin('Smiley Tongue'); }
.allow_all img		{ background:-o-skin('Smiley Cry'); }

.allowed img		{ background:-o-skin('Transfer Success'); }
.blocked img		{ background:-o-skin('Transfer Stopped'); }
.not_loaded img		{ background:-o-skin('Transfer Size Mismatch'); }
.iframe	img		{ background:-o-skin('Menu Info'); }

/* 'script allowed globally' icon */
.allowed_globally img		{ visibility:hidden; padding: 0px 3px; width:14px; height:14px; vertical-align:middle;
				  background-size:contain; 
				  background:-o-skin('RSS'); }
.allowed_globally:hover img	{ visibility:visible; } 
.allowed_globally.visible img	{ visibility:visible; }

/* for small icons use this instead:
#main_button.filtered	img	{ content:-o-skin('Smiley Cool'); }
*/

.menu {
	padding: 1px 1px; text-align:left;
	box-shadow: 8px 10px 10px rgba(0,0,0,0.5), inset 2px 3px 3px rgba(255,255,255,0.75);
	border-radius: 5px; border-width: 2px; border-style: outset; border-color: gray;
	display:table;
	font-size:small;
}
.menu, #jsarmor_ftable { background: #ccc; }

/* title */
h1	{ color:#fff; font-weight:bold; font-size: 1em; text-align: center;
	  margin:0;
	  background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAYCAYAAAA7zJfaAAAAAXNSR0IArs4c6QAAAAZiS0dEAAAAAAAA+UO7fwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB90BFRUGLEa8gbIAAAAZdEVYdENvbW1lbnQAQ3JlYXRlZCB3aXRoIEdJTVBXgQ4XAAAAUElEQVQI102KOwqAQBDFsm+9/3Fs9RqChdgIVjYi6nxsLLYJCYSc+xTLgFhHhD8t0m5kAQo39Jojj0RuLzquQLUkUuG3qtJmJ9plOyua9uADjaopUrsHkrMAAAAASUVORK5CYII=) repeat-x;}

.menu ul			{ padding:0; margin:0 }
.menu ul ul			{ margin-left:1em }
.menu li			{ list-style:none }
.menu > ul > li:hover		{ background:#ddd }
.menu > ul > li:first-child	{ background:inherit }

/* mode menu item */
.selected, .menu .selected:hover {
	background-color: #fa4;
	padding: 1px; /* for highlighting */
}


/*************************************************************************************************************/
/* Options menu */

#options_menu		{ min-width:250px; }

.separator	{ height: 1px; display: block; background-color: #555555; margin-left: auto; margin-right: auto; }

/* import file (make form and button look like a menuitem) */
#import_form	{ display:inline-block; position:relative; overflow:hidden; vertical-align:text-bottom }
#import_btn	{ display:block; position:absolute; top:0; right:0; margin:0; border:0; opacity:0 }

