<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" version="1.6.0"
	id="https://github.com/lemonsqueeze/scriptweeder">
    <name>ScriptWeeder</name>
    <description>Block unwanted scripts. NoScript on steroids for opera !</description>
    <author href="https://github.com/lemonsqueeze/scriptweeder/wiki">lemonsqueeze</author>
    <icon src="icon.png"/>
    <license href="http://www.gnu.org/licenses/gpl-2.0.html">
    Licensed under the GNU GPL v2
    </license>
</widget>
