/* scriptkiddie stylesheet */

html			{ background:transparent; }
body			{ margin:0px; white-space:nowrap; font-family:Ubuntu,Tahoma,Sans; font-size:normal; }

/* font sizes */
body.small_font		{ font-size:small; }
body.large_font 	{ font-size:1.3em; }
button,select,textarea	{ font-family:inherit; font-size:inherit;} /* they don't get it in opera 12.14 otherwise (?!) */

/* sane padding/margin sizing, please !  http://css-tricks.com/box-sizing/  */
*			{ box-sizing:border-box; }

#main			{ position:absolute; width:auto; height:auto; margin-bottom:0px; }

/* main button */
#main_button		{ border-width: 2px; margin: 0; float: none; } 

.autohide		{ visibility:hidden; }
:hover .autohide	{ visibility:visible }


/*************************************************************************************************************/
/* left/right/top/bottom layouts */

body.right		{ direction:rtl; }
body.right #main	{ direction:ltr; right:0; z-index:1; }
body.right .submenu	{ z-index:0 }
body.right #main_button	{ direction:rtl; }

body.left		{ direction:ltr; }
body.left #main		{ direction:ltr; left:0;  z-index:0; }
body.left .submenu	{ z-index:1 }
body.left #main_button	{ direction:ltr; }

body.bottom #main	{ bottom:0; /* bottom align */ }
body.top #main		{ top:0;    /* top align */ }


/*************************************************************************************************************/

/* host table */
li#host_table				{ padding:0; }
#host_table table			{ width:100%; } 
#host_table table tr td			{ padding: 0px 0px 1px 0px;} 
#host_table table tr:hover		{ background:#ddd }

/* hostnames display */
.td_not_loaded img		{ width:16px; height:16px; }  /* take up space even if all are empty */
.fat_icons .td_not_loaded img	{ width:22px; height:22px; }  /* take up space even if all are empty */
/* .td_checkbox */
.td_host		{ color:#888; text-align:right; }
.td_domain		{ color:#333; }
.helper			{ color:#000; } /* helper domain */
/* .td_iframe */
.td_allowed_globally img		{ visibility:hidden; padding: 0px 3px; width:14px; height:14px;
					  vertical-align:middle; background-size:contain; }
.td_allowed_globally:hover img		{ visibility:visible; } 
.td_allowed_globally.visible img	{ visibility:visible; }
.td_script_count			{ text-align:right; }

/* submenu */
.submenu		{ position:absolute; }

#options_details table				{ width:100% }
.details_item , .options_item			{ text-align:center; }
.details_item label, .options_item label	{ display:block; width:100%;
						  border-radius:6px; padding:1px 5px; text-decoration:none; }
.details_item label:hover, .options_item label:hover	{ background:#ddd }

/*************************************************************************************************************/
/* generic stuff */

table					{ border-spacing:0px; border-collapse: collapse; }

/* radio buttons (scope etc) */
input[type=radio]			{ display:none; } 
input[type=radio] + label:hover		{ background-color: #ddd; } 
input[type=radio] + label		{ box-shadow:inset 0px 1px 0px 0px #ffffff; border-radius:6px; 
					  border:1px solid #dcdcdc; background-color: #c7c7c7;  
					  display:inline-block; padding:1px 5px; text-decoration:none; 
					} 
input[type=radio]:checked + label	{ background-color: #fa4; } 

textarea				{ width:400px; height:300px; }

/* images */

img	{ width:1px; height:1px; vertical-align:middle; 
	  background-size:contain; background-repeat:no-repeat; background-position:center }

/* mode icons (small) */
.block_all img,  .filtered  img,  .relaxed  img,  .allow_all img { width:18px; height:18px; }
.menu .block_all img, .menu .filtered  img, 
.menu .relaxed   img, .menu .allow_all img	{ margin: 3px }

/* mode icons (fat) */
.fat_icons .block_all img,  .fat_icons .filtered  img, 
.fat_icons .relaxed   img,  .fat_icons .allow_all img   { width:22px; height:22px; }
.fat_icons .menu .block_all img,  .fat_icons .menu .filtered  img, 
.fat_icons .menu .relaxed   img,  .fat_icons .menu .allow_all img	{ margin: 4px }

.fat_icons .allowed img, .fat_icons .blocked img, .fat_icons .not_loaded img  { width:22px; height:22px; }
/* left out:  .allowed_globally .*iframe */

.block_all img		{ background-image:-o-skin('Smiley Pacman'); }
.filtered  img		{ background-image:-o-skin('Smiley Cool'); }
.relaxed   img		{ background-image:-o-skin('Smiley Tongue'); }
.allow_all img		{ background-image:-o-skin('Smiley Cry'); }

.allowed img		{ /*img_size*/ background-image:url('../img/allowed.png'); }
.blocked img		{ /*img_size*/ background-image:url('../img/blocked.png') }
.not_loaded img		{ /*img_size*/ background-image:url('../img/not_loaded.png') }
.iframe	img		{ /*img_size*/ background-image:url('../img/iframe.png') }
.blocked_iframe img	{ /*img_size*/ background-image:url('../img/blocked_iframe.png') }

/* 'script allowed globally' icon */
.allowed_globally img		{ /*img_size*/ background-image:url('../img/allowed_globally.png') }

.menu {
	padding: 1px 1px; text-align:left; direction:ltr;
	box-shadow: 8px 10px 10px rgba(0,0,0,0.5), inset 2px 3px 3px rgba(255,255,255,0.75);
	border-radius: 5px; border-width: 2px; border-style: outset; border-color: gray;
	display:table; background: #ccc; 
}

/* menu title */
h1	{ color:#fff; font-weight:bold; font-size: 1em; text-align: center;
	  margin:0;
	  background:url('../img/title_background.png') repeat-x;}

/* menu item stuff */
.right_item		{ float:right; }

ul			{ padding:0 0 0 1px; margin:0 }
ul ul			{ margin-left:1em }
li			{ list-style:none; border-radius:3px; padding:0 0 0 2px}

li:hover		{ background:#ddd } /* items active by default */
li.inactive:hover	{ background:inherit }


/* mode menu items */
li.block_all, li.filtered, li.relaxed, li.allow_all	{ padding:2px }
.menu .selected, .menu .selected:hover { background-color: #fa4; }


/*************************************************************************************************************/
/* Options menu */

#options_menu li:hover	{ background:inherit }
/* how do we add cell spacing ??
#options_menu table	{ cell-spacing: 5px; }
*/
#options_menu td	{ vertical-align:top; }

.separator	{ height: 1px; display: block; background-color: #bbb; margin-left: auto; margin-right: auto; }

.frame		{ border:1px solid #bbb; margin:10px; padding:9px; position:relative; min-width:200px; }
.frame td, .frame li	{ padding: 2px; }

.frame_title	{ position:absolute; top:-10px; background: #ccc; }

/* file input form styling: http://www.quirksmode.org/dom/inputfile.html */
#import_settings, #load_custom_style
	{ display:inline-block; position:relative; overflow:hidden; vertical-align:text-bottom }
#import_settings input, #load_custom_style input
	{ display:block; position:absolute; top:0; right:0; margin:0; border:0; opacity:0 }

.dropdown_setting		{ width:100% }
.dropdown_setting select	{ padding-right:5px } /* opera 12.14 truncates otherwise, bug ?! */
.dropdown_setting td + td	{ text-align:right; }

.button_table  *		{ width:100% }

#patch_style textarea		{ width: 700px; height: 200px; }

/********************************************************************************************************** 
 * transparent button 
 * http://www.dreamtemplate.com/dreamcodes/documentation/buttons_transparent.html
 */

.tbutton {
	border: 1px solid rgba(0,0,0,0.2); box-sizing: content-box !important; color: #f5f5f5; cursor: pointer;
	display: inline-block; padding: 2px 10px; text-align: center; text-decoration: none; white-space: normal;
	text-shadow: 0 0 5px rgba(0,0,0,0.2), 0 0 1px rgba(0,0,0,0.4); outline: none; 
	-o-transition: all 200ms ease 0ms !important; 	/* Transition */
	background: none repeat scroll 0 0 rgba(255,255,255,0.04); 	/* Background Color */
	border-radius: 3px; 	/* Border Rounding */
	background-clip: padding-box; 	/* Background Clipping */
	box-shadow: 0 0 3px rgba(255,255,255,0.25) inset, 0 0 1px rgba(255,255,255,0.2), 0 10px 10px rgba(255,255,255,0.08) inset;
	box-shadow: 0 0 3px rgba(255,255,255,0.25) inset, 0 0 1px rgba(255,255,255,0.2), 0 10px 10px rgba(255,255,255,0.08) inset;
}

.tbutton:hover {
	color: #fff; text-shadow: 0 0 5px rgba(0,0,0,0.2), 0 0 1px rgba(0,0,0,0.4);	
	box-shadow: 0 0 5px rgba(255,255,255,0.45) inset, 0 0 1px rgba(255,255,255,0.2), 0 10px 10px rgba(255,255,255,0.08) inset;
 }

.tbutton:active {
	color: #eee;
	box-shadow: 0 0 5px rgba(255,255,255,0.1) inset, 0 0 1px rgba(255,255,255,0.2), 0 0 4px rgba(0,0,0,0.4) inset, 0 10px 10px rgba(255,255,255,0.08) inset;
 }

